version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: le_nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certbot/www:/var/www/certbot:ro
      - ./certbot/conf:/etc/letsencrypt:ro
    networks:
      - zbx_net_frontend
      - zbx_net_backend

  certbot:
    image: certbot/certbot:latest
    container_name: le_certbot
    restart: unless-stopped
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: /bin/sh -c
    command: >
      "trap exit TERM;
       while :; do
         certbot renew --webroot -w /var/www/certbot --quiet;
         sleep 12h;
       done"
    networks:
      - zbx_net_frontend

networks:
  zbx_net_frontend:
    external: true
    name: monitoring_frontend
  zbx_net_backend:
    external: true
    name: monitoring_backend
